{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

</head>
<body>
  <nav>
    <ul>
      
      {% if user.is_authenticated %}
      <li><a href="{% url 'polls:list' %}">Welcome {{user.username}}</a></li>
        <li><a href="{% url 'polls:create' %}">Create Poll</a></li>
        <li><a href="{% url 'polls:logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'polls:list' %}">Home</a></li>
        <li><a href="{% url 'polls:login' %}">Login</a></li>
        <li><a href="{% url 'polls:register' %}">Register</a></li> 
      {% endif %}
    </ul>
  </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
